header{
    background: teal;
    display: inline-block;
    height: 10vh;
    width: 100vw;
}

.userAvatar{
    position: absolute;
    height: 10vh;
    border-radius: 10vh;
    float: left;
    margin: auto;
}

.logout-btn{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

h1{
    margin:2em 0em;
}
.content{
    padding: 0em 1em;
}

.event-list-item{
    width: 90vw;
    background: lightblue;
    margin: 1em;
}

#events-container {
    display:flex;
    margin: auto;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
}

#events-container span{
    position: relative;
    float: right;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
}
    
#events-container span:hover{
    cursor: pointer;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

img {
    display:block;
}

.avatar{
    width: 4em;
    border-radius: 2em;
    float: left;
    margin: auto;
}

.event-btn{
    background: red;
    width: 15vw;
    height: 15vw;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
    border-radius: 6vh;
}

.event-btn:focus{
    border: none;
    text-decoration: none;
    outline: none;
    user-select: none;
}

.event-btn:hover{
    cursor: pointer;
    box-shadow: 2px 8px 5px -1px rgba(0,0,0,0.6);
}

.event-name-inpt{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 75vw;
    margin: 1em;
}