<div class="form-container" id="toolbar">
  <header>
    <img class="userAvatar" src="{{this.avatarImage}}" alt="User Avatar">
    <button (click)="Logout()" class="logout-btn">Logout</button>
  </header>
  <div class="content">
    <div>   
      <div id="events-container">
          <div (click)="EventDetails(item)" class="event-list-item" *ngFor="let item of events | async"><p>{{item.eventName}}<span (click)="DeleteItem(item)" class="delete-msg">O</span></p></div>
      </div>
      <input *ngIf="!this.user.isAnonymous" type="text" class="event-name-inpt" [(ngModel)]="eventName" />
      <button (click)="AddEvent()" class="event-btn">+</button>
    </div>
  </div>
</div>