<div class="form-container" id="toolbar">
    <header>
      <img class="userAvatar" src="{{this.avatarImage}}" alt="User Avatar">
      <button (click)="Logout()" class="logout-btn">Logout</button>
    </header>
    <div class="content">
      <div id="page">
          <h1>Hey {{ titleName }}!</h1>
        </div>
        <div>   
          <input *ngIf="!this.user.isAnonymous" type="text" id="message" placeholder="Add an Item?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
          <h2>Still Needed</h2>
          <div id="details-container">
              <div (click)="TakeItem(item)" class="needed-list-item" *ngFor="let item of neededItems | async"><p>{{item.message}}<span (click)="DeleteItem(item)" class="delete-msg">X</span></p></div>
          </div>

          <h2>Being Brought</h2>          
          <div id="details-container">
            <div (click)="DebuggingShowItemInfo(item)" class="assigned-list-item" *ngFor="let item of assignedItems | async"><img class="avatar" src="{{item.avatarURL}}" alt="User Avatar"><p>{{item.selectedItem.message}}</p></div>
          </div>
        </div>
        <button (click)="ClearLists()" class="clear-btn">Clear List</button>        
    </div>
</div>